*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container video{
    width: 100%;
    height: 100%;
}

.container .text-box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    color: #f02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 900;
    mix-blend-mode:multiply;
}



